<html>
  <head>
      <title>Catégories</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
       <!-- importer le fichier de style -->
        <link rel="stylesheet" href="dist/categorie.css" media="screen" type="text/css" />
       
  </head>

  <body>

    <br>
    <br>
    <br>
    <br>

  <p><i class="fas fa-comments"></i>  <a href="#"> <b>Toutes les discussions</b></a></p>
  <p><i class="fas fa-star"></i>  <a href="#"> Abonnements</a></p>
  <p><i class="fas fa-th-large"></i>  <a href="#"> Etiquettes</a></p>
        
<br>
        <p><i class="fas fa-stop" id="a"></i>  <a href="#">Mathematiques</a></p>
        
        <p><i class="fas fa-stop" id="b"></i>  <a href="#">Sciences Physiques</a></p>
        
        <p><i class="fas fa-stop" id="c"></i>  <a href="#">Sciences de la Vie et de la Terre</a></p>
        
        <p><i class="fas fa-stop" id="d"></i>  <a href="#">Informatiques</a></p>
      
      <br>

      <button><a href="#">Nouvelle Publication</a></button>

  </body>
</html>