<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Profil</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div class="profile-main">
		<div class="profile-header">
			<div class="user-detail">
				<div class="user-image">
					<img src="daooda.jpg">
				</div>
				<div class="user-data">
					<h2>Daooda BA</h2>
					<span class="post-label">@daooda</span>
					<p>Etudiant <strong>Sonatel Academy</strong><br>
					<i class="fa fa-map-marker" aria-hidden="true"></i>  Sénégal, DK, Guédiawaye
					</p>
				</div>
			</div>
			<div class="tab-panel-main">
				<ul class="tabs">
					<li class="tab-link current" data-tab="Basic-detail">Détail</li>
					<li class="tab-link" data-tab="Edu-detail">Scolarité</li>
					<li class="tab-link" data-tab="Portfolio">Publication</li>
				</ul>
				<div id="Basic-detail" class="tab-content current">
					<div class="bio-box">
						<div class="heading">
							<p>Biographie</p>
						</div>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
						</div>
					</div>
					<div class="detail-box">
						<p>Détail</p>
						<ul class="ul-first">
							<li>Age</li>
                            <li>Adresse</li>
                            <li>Niveau</li>
							<li>Téléphone</li>
						</ul>
						<ul class="ul-second">
							<li>23 ans</li>
                            <li>Guédiawaye</li>
                            <li>Licence</li>
							<li>77 396 90 61</li>
						</ul>
					</div>
				</div>
				<div id="Edu-detail" class="tab-content">
					<div class="Edu-box-main">
						 <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Scolarité</h2>
						 <div class="Edu-box">
						 	<h5><span>College</span> <br>
						 		2014 | 2017</h5>
						 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						 </div>
						 <div class="Edu-box">
						 	<h5><span>Lycée</span> <br>
						 		2017 - 2019</h5>
						 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						 </div>
					</div>
				</div>
				<div id="Portfolio" class="tab-content">
					<div class="portfolio-box">
						<div class="portfolio-img-box">
							<h3>Publication</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis perspiciatis quaerat odio.</p>
						</div>
						<div class="portfolio-img-box">
							<h3>Publication</h3>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos asperiores quas temporibus.</p>
						</div>
						<div class="portfolio-img-box">
							<h3>Publication</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolorum expedita molestiae.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div class="footer">
			<p><strong>Mes Badges</strong></p><br>
			<div class="footer-box"><i class="fa fa-facebook"></i></div>
			<div class="footer-box"><i class="fa fa-twitter"></i></div>
			<div class="footer-box"><i class="fa fa-linkedin"></i></div>
			<div class="footer-box"><i class="fa fa-google"></i></div>
            <div class="footer-box"><i class="fa fa-instagram"></i></div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('ul.tabs li').click(function(){
				var tab_id = $(this).attr('data-tab');

				$('ul.tabs li').removeClass('current');
				$('.tab-content').removeClass('current');

				$(this).addClass('current');
				$("#"+tab_id).addClass('current');
			});
		});
	</script>
</body>
</html>