<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="dist/img/rcss.png">
    <link rel="stylesheet" href="dist/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
    <link rel="stylesheet" href="dist/css/offcanvas.css">
    <title>Profil</title>
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">
            <img src="dist/img/rcss.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Forum | RC2S<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="notifications.html">Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profil</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-success" style="font-weight: bold;">Nouvelle Discussion</button>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Rechercher</button>
          </form>
        </div>
      </nav>

      <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded box-shadow">
          <img class="mr-3" src="dist/img/rcss.png" alt="" width="48" height="48">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Forum du Réseau des Clubs Scientifiques du Sénégal</h6>
            <small>Promouvoir la Science pour un avenir meilleur !</small>
          </div>
        </div>

        <div class="card text-center">
          <div class="card-header" style="font-weight: bold;">
            Profil
          </div>
          <div class="card-body">
            <img src="dist/img/boy.png" alt="" width="100px" height="100px" class="img-thumbnail">
            <h4 class="card-title">Daouda BA</h4>
            <h6 class="card-title">Niveau: Licence Pro</h6>
            <p class="card-text">Développeur Web/mobile à la Sonatel Aacademy.</p>
            <h3 class="card-text">Mes badges</h3>
              <span class="badge badge-pill badge-info">Débutant</span>
              <span class="badge badge-pill badge-success">Intermédiaire</span>
              <span class="badge badge-pill badge-warning">Professionnel</span>
              <span class="badge badge-pill badge-danger">Premium</span>
          </div>
        </div>

      </main>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 RC2S</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Contact</a></li>
        </ul>
      </footer>
      
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="dist/js/offcanvas.js"></script>
</body>
</html>