<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="wiews/dist/categorie.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>

    <head>
        <div>
            <img src="" alt="">
        </div>

        <div>
            <form action="">
                <input type="text">
            </form>
        </div>
        
        <div>
            <div>
                <button></button>
            </div>
            <div>
                <button></button>
            </div>
        </div>
    </head>
    
</body>

</html>